/part03-Part03_07.RememberTheseNumbers/target/
/part03-Part03_08.OnlyTheseNumbers/target/
/part03-Part03_09.GreatestInList/target/
/part03-Part03_10.IndexOf/target/
/part03-Part03_11.IndexOfSmallest/target/
/part03-Part03_12.SumOfAList/target/
/part03-Part03_13.AverageOfAList/target/
/part03-Part03_14.OnTheList/target/
/part03-Part03_15.PrintInRange/target/
